@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes cardEnter {
  0% {
    transform: translate(260px, -100px) rotate(-75deg) scale(0.85);
    opacity: 1;
  }
  50% {
    transform: translate(0, 0) rotate(15deg) scale(1.15);
    opacity: 1;
  }
  100% {
    transform: translate(260px, -100px) rotate(-75deg) scale(0.85);
    opacity: 1;
  }
}

@keyframes carDrive {
  0% {
    transform: translateX(-400px) translateY(0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: translateX(calc(100vw - 700px)) translateY(0);
    opacity: 1;
  }
}


@keyframes carDriveSuccess {
    0% {
        transform: translateX(-100%) translateY(0);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        transform: translateX(calc(100vw + 100%)) translateY(0);
        opacity: 1;
    }
}

.car-drive-animation {
  animation: carDrive 4s ease-in-out forwards;
}


.car-drive-animation-success {
    animation: carDriveSuccess 4s ease-in-out forwards;
}

@keyframes blobMove1 {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(100px, -80px) scale(1.4) rotate(90deg);
  }
  50% {
    transform: translate(50px, 100px) scale(0.7) rotate(180deg);
  }
  75% {
    transform: translate(-80px, -50px) scale(1.3) rotate(270deg);
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(360deg);
  }
}

@keyframes blobMove2 {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(-120px, 70px) scale(0.6) rotate(-90deg);
  }
  50% {
    transform: translate(90px, -100px) scale(1.5) rotate(-180deg);
  }
  75% {
    transform: translate(-70px, 90px) scale(0.8) rotate(-270deg);
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(-360deg);
  }
}

.animated-blob-1 {
  animation: blobMove1 6s ease-in-out infinite;
}

.animated-blob-2 {
  animation: blobMove2 8s ease-in-out infinite;
}